name: CICD

on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - labeled
      - unlabeled
  push:
    branches:
      - main
    tags:
      - "v*.*.*" # Trigger on semantic version tags like v1.0.0

concurrency:
  group: cicd-${{ github.ref_name == 'main' && 'main' || github.ref_name }}
  cancel-in-progress: ${{ github.ref_name != 'main' }}

jobs:
  build:
    uses: ./.github/workflows/build.yml
    secrets: inherit

  push:
    needs: build
    uses: ./.github/workflows/push.yml
    with:
      activitypub-private-tags: ${{ needs.build.outputs.activitypub-private-tags }}
      activitypub-public-tags: ${{ needs.build.outputs.activitypub-public-tags }}
      activitypub-public-labels: ${{ needs.build.outputs.activitypub-public-labels }}
      activitypub-migrations-private-tags: ${{ needs.build.outputs.activitypub-migrations-private-tags }}
      activitypub-migrations-public-tags: ${{ needs.build.outputs.activitypub-migrations-public-tags }}
      activitypub-migrations-public-labels: ${{ needs.build.outputs.activitypub-migrations-public-labels }}
